.loginFrame {
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 27%;
    top: 12%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


.loginInputFields {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}

.operationButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    justify-content: center;
}


.registerFrame {
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 27%;
    top: 12%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.authOperationFrame {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh
}

.registerInputFields {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

.recTypeHolder {
    width: 55vw;
    height: 15vh;
    display: flex;
    padding: 31px 98px 32px 98px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 1px solid #000;
}

.recTypeHolderLabel {
    font-size: 1.5rem;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Type Selection Page */

.typeSelectionBack {
    position: fixed;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selectionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1.5;
    gap: 3vw;
}

.typeSelectionExtButton {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 5vh 0;
}

/* Notifications Page */

.notifCategoriesHolder {
    border-radius: 20px;
    border: 1px solid #000;
    height: 4vh;
    width: 60vw;
    padding-left: 2vw;
    padding-block: 2vh;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    margin-left: 4vw;
}

.notificationsHolder {
    border-radius: 11px;
    border: 1px solid #000;
    padding: 0.5vh 0.5vw;
    display: flex;
    flex-direction: column;
    width: 61vw;
    height: 90vh;
    margin-left: 4vw;
    margin-top: 2vh;
}

/* Education Page */

.lessonsHolder {
    border: 1px solid #000;
    height: 90vh;
    width: 60vw;
    margin-left: 4vw;
}

/* Chat Page */

.chatPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.chatContent {
    display: flex;
    flex-grow: 1;
}

.chatInputBox {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

/* My Account Page */

.mainAccountFrame {
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 20vh;
}