.login {
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 27%;
    top: 12%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


.register {
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 27%;
    top: 12%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.auth {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh
}

.auth__input {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
}

/* * Home Page */

.recommendation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 1px solid #000;
}

.recommendation__elm {
    display: flex;
    flex-direction: column;
    gap: 0vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding: 1vh 1vw;
}

.recommendation__elm__img {
    border: 1px solid #000;
    width: 7.5vw;
    height: 11vh;
}

.recommendation__label {
    font-size: 1.5rem;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Type Selection Page */

.typeSelection {
    position: fixed;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.typeSelection__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1.5;
    gap: 3vw;
}

.typeSelection__btn--exit {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 5vh 0;
}

/* * Notifications Page */

.notifficationCategories {
    border-radius: 20px;
    border: 1px solid #000;
    height: 4vh;
    width: 60vw;
    padding-left: 2vw;
    padding-block: 2vh;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    margin-left: 4vw;
}

.notifications {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 0.5vh 0.5vw;
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-left: 4vw;
    margin-top: 2vh;
}

/* Education Page */

.lessons {
    border: 1px solid #000;
    height: 90vh;
    padding: 3vh 2vw;
}

/* Chat Page */

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.chat_content {
    display: flex;
    flex-grow: 1;
}

.chat__input {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

/* * My Account Page */

.accountInfo {
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 20vh;
}

.additionalAccountInfo {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 20vw;
    background: #FFF;

}

/* * Search Page */

.searchType__btn {
    border: 1.5px solid #000 !important;
    border-radius: 15px !important;
    color: black !important;
}